nav.blue
    .nav-wrapper.container
      a.brand-logo(href='#') Simpli
      ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='sass.html') 
              i.fa.fa-plus
          li
            a(href='badges.html') 
              i.fa.fa-eye
          li
            a(href='collapsible.html')
              i.fa.fa-user